/* VARIABLES */
:root {
  --main-body-color:#ffffff;
  --main-bgcolor-white:#fff;
  --main-bghero-white:#fff;
  --main-color-black:#000;
  --main-color-f5:#f5f5f5;
  --main-color-green: #299764;
  --main-color-hover-green:#077743;
  --main-color-55:#555555;
  --main-bordercolor:#e5e7ea;
  --main-border-boottom-color:#e5e7ea;
  --main-color-google: #4285f4;
  --main-rgbcolor:linear-gradient(90deg, #EA4335 19.83%, #FBBC05 65%, #34A853 82.29%, #4285F4 100%);
  --main-ldginstagram: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  --main-footercolor-white:#fff;
  --main-invalid: #ff3b30;
}

.dark {
  --main-body-color:#1C1C1C;
  --main-bgcolor-white:#1c1c1c;
  --main-color-black:#fff;
  --main-color-f5:#272727;
  --main-color-green: #299764;
  --main-color-55:#fff;
  --main-bordercolor:#333333;
  --main-border-boottom-color: #333333;
  --main-footercolor-white:#000;
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff");
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff");
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff");
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-moz-selection {
  background-color: darkcyan;
  color: gold;
}

::selection {
  background-color: darkcyan;
  color: gold;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  overflow-x: hidden;
  background-color: var(--main-body-color);
}

.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 794px) {
  .container {
    padding: 0 20px;
  }
}
.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header-logo-wrap {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  display: block;
  border-bottom: 1.5px solid var(--main-border-boottom-color);
}

.site-header-burger-btn {
  padding: 0;
  width: 40px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.site-header-burger-btn-img {
  width: 40px;
  height: 20px;
}

.site-header__sitenav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  max-width: 350px;
  background-color: var(--main-bgcolor-white);
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.site-header__sitenav--active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.sitenav-logo-wrap-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 16px;
}

.site-header-burger-btn-mob {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  background: #f5f5f5;
  border-radius: 100px;
}

.site-header-burger-btn-mob-img {
  width: 7.86px;
  height: 7.86px;
}

.sitenav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-top: 40px;
  margin-left: 20px;
}

.sitenav__item {
  margin-top: 32px;
}

.sitenav__link,
.sitenav__link-number,
.sitenav__about-link,
.sitenav__link-help {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color-black);
  text-decoration: none;
}

.sitenav__list-about {
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
}

.sitenav__item-about {
  margin-top: 16px;
}

.sitenav__item-about:nth-child(1) {
  margin-top: 20px;
}

.sitenav__about-link {
  color: var(--main-color-55);
}

.sitenav__list-help {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.sitenav__item-help {
  margin-top: 16px;
}

.sitenav__item-help:nth-child(1) {
  margin-top: 20px;
}

.sitenav__link-help {
  color: var(--main-color-55);
}

.sitenav__rigister-list {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sitenav__rigister-number {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--main-color-black);
  text-decoration: none;
  display: none;
}

.sitenav__rigister-dark-btn {
  margin-right: 16px;
  width: 58px;
  height: 58px;
  padding: 0;
  border-radius: 100px;
  border: none;
  background: var(--main-color-f5);
  background-image: url("../../images/light-mode.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15.55px 15.58px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.sitenav__rigister-dark-btn:hover {
  background-image: url("../../images/light-hover.svg");
}

.sitenav__rigister-dark-btn:active {
  background: #299764;
  background-position: center;
  background-size: 15.55px 15.58px;
  background-image: url("../../images/ligt-active.svg");
  background-repeat: no-repeat;
}

.sitenav__rigister-dark-btn--active {
  background-image: url("../../images/dark-icon.svg");
}

.sitenav__rigister-dark-btn--active:hover {
  background-image: url("../../images/dark-icon.svg");
}

.sitenav__rigister-dark-btn--active:active {
  background-image: url("../../images/dark-icon.svg");
}

.sitenav__rigister-link-login {
  margin-right: 20px;
  width: 142px;
  padding: 18px 60px 18px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: var(--main-color-green);
  border-radius: 100px;
  text-decoration: none;
  background-image: url("../../images/login-icon.svg");
  background-position: calc(50% + 30px);
  background-repeat: no-repeat;
  background-size: 14px;
}

.sitenav__rigister-link-login:hover {
  background-color: #077743;
}

.sitenav__rigister-link-login:active {
  background-image: url("../../images/login-active.svg");
  background-color: #F5F5F5;
  color: #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.overlay--active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

@media only screen and (min-width: 794px) {
  .site-header-logo-wrap {
    padding: 27px 10px;
  }
  .site-header__sitenav {
    max-width: 475px;
  }
  .sitenav-logo-wrap-mob {
    margin-top: 24px;
    margin-left: 30px;
    margin-right: 24px;
  }
  .sitenav__list {
    margin-top: 87px;
    margin-left: 30px;
  }
  .sitenav__item {
    margin-top: 52px;
  }
  .sitenav__link-number {
    display: none;
  }
  .sitenav__rigister-number {
    display: block;
    margin-right: 51px;
  }
  .sitenav__link {
    font-size: 28px;
    line-height: 34px;
  }
  .sitenav__about-link,
.sitenav__link-help {
    font-size: 24px;
    line-height: 29px;
  }
  .sitenav__rigister-item {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .sitenav__blok-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-header-burger-btn-mob {
    display: none;
  }
  .site-header-burger-btn {
    display: none;
  }
  .site-header-logo-wrap {
    display: none;
  }
  .sitenav-logo-wrap-mob {
    margin-top: 0;
  }
  .sitenav__item {
    position: relative;
    margin-top: 0;
  }
  .sitenav__list-help {
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
    padding: 10px;
    width: 169px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  .sitenav__list-about {
    margin-top: 0;
    position: absolute;
    padding: 10px;
    top: 20px;
    left: 20px;
    display: none;
    width: 147px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  .sitenav__item-help {
    margin-top: 0;
  }
  .sitenav__item-about {
    padding-top: 0;
    margin-top: 0;
  }
  .sitenav__link-help {
    padding-top: 0;
    margin-top: 0;
  }
  .site-header__sitenav {
    position: static;
    width: 100%;
    max-width: 1200px;
    padding-top: 18px;
    padding-bottom: 18px;
    -webkit-transform: translate(0);
            transform: translate(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sitenav__rigister-list {
    position: static;
    margin: 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sitenav__list {
    margin-top: 0;
    margin-left: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sitenav__link {
    margin-left: 32px;
    font-size: 18px;
    line-height: 22px;
    border-radius: 100px;
  }
  .sitenav__link::after {
    margin-left: 14.65px;
    margin-right: 6px;
    content: "";
    display: inline-block;
    width: 9.71px;
    height: 5.04px;
    background-image: url("../../images/dropdown-arrow.svg");
    background-repeat: no-repeat;
  }
  .dark .sitenav__link::after {
    background-image: url("../../images/arrow-activ-header.svg");
  }
  .sitenav__item:nth-child(1) .sitenav__link::after {
    width: 0;
    height: 0;
    background-image: none;
    margin-left: 0;
  }
  .sitenav__item:hover .sitenav__link::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sitenav__item:hover .sitenav__list-help {
    display: block;
    border-radius: 10px;
    background-color: var(--main-bgcolor-white);
  }
  .sitenav__item:hover .sitenav__list-about {
    display: block;
    background-color: var(--main-bgcolor-white);
  }
  .sitenav__about-link,
.sitenav__link-help {
    font-size: 18px;
    line-height: 22px;
    display: block;
    border-radius: 100px;
    padding: 18px 0 18px 16px;
  }
  .sitenav__link-help:hover {
    background: #F5F5F5;
    color: #000;
  }
  .sitenav__about-link:hover {
    background: #F5F5F5;
    color: #000;
  }
  .sitenav__link-help:active {
    background-color: #299764;
    color: #fff;
  }
  .sitenav__about-link:active {
    background-color: #299764;
    color: #fff;
  }
  .sitenav__rigister-link-login {
    margin-right: 0px;
  }
  .sitenav__rigister-number {
    margin-right: 24px;
  }
  .sitenav-logo-wrap-mob {
    margin-left: 0;
    margin-right: 0;
  }
}
.hero-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
}

.multiple-items .slick-next {
  position: absolute;
  bottom: 0;
  right: 23px;
  display: block;
}

.multiple-items .slick-prev {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--main-bghero-white);
  display: inline-block !important;
}

.hero-item {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-image: url("../../images/malibu-hero.jpg");
  background-repeat: no-repeat;
  background-size: 608px 300px;
  background-position: center;
}

.hero-item:nth-child(2) {
  background-image: url("../../images/gelik-hero.jpg");
}

.hero-item:nth-child(3) {
  background-image: url("../../images/ford-hero.jpg");
}

.hero-text-wrap {
  width: 100%;
  max-width: 283px;
  margin: 0 auto;
}

.hero-title {
  margin-top: 0;
  padding-top: 40px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--main-bghero-white);
}

.hero-text {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--main-bghero-white);
}

.hero-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
}

.hero-form-input {
  position: absolute;
  top: -58px;
  width: 100%;
  max-width: 600px;
  padding: 22px 30px;
  background: #FFFFFF;
  border: transparent;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #555555;
}

.hero-icon-wrap {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-search-icon {
  position: absolute;
  top: -54px;
  right: 4px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #299764;
  background-image: url("../../images/hero-search-input.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 794px) {
  .hero-item {
    width: 100%;
    height: 500px;
    background-size: 908px 500px;
  }
  .hero-text-wrap {
    max-width: 416px;
  }
  .hero-title {
    padding-top: 60px;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 44px;
  }
  .hero-text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-item {
    max-width: 1200px;
    height: 500px;
    background-size: cover;
  }
}
.cars {
  padding: 62px 0 100px;
}

.cars__wrapper {
  max-width: 575px;
  width: 100%;
  margin: 0 auto;
}

.cars__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 6px;
  color: var(--main-color-black);
}

.cars__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--main-color-55);
}

.cars__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 16px;
}

.cars__item {
  margin-right: 14px;
}

.cars__item:nth-of-type(3) {
  margin-right: 0;
}

.cars__item--active .cars__link {
  background-color: var(--main-color-green);
  color: var(--main-bgcolor-white);
}

.cars__panel {
  display: none;
}

.cars__panel--active {
  display: block;
}

.cars__link {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding: 14px 20px;
  color: var(--main-color-black);
  border: 1.5px solid var(--main-bordercolor);
  border-radius: 100px;
  text-decoration: none;
}

.cars__panel-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.cars__panel-item {
  max-width: 358px;
  width: 100%;
  margin: 0 auto 10px;
  padding: 24px 20px;
  background-color: var(--main-color-f5);
  border-radius: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.cars__panel-item:hover {
  background-color: var(--main-color-green);
}

.cars__panel-item:hover .cars__panel__title {
  color: var(--main-bgcolor-white);
}

.cars__panel-item:hover .cars__panel__text {
  color: var(--main-bgcolor-white);
}

.cars__panel-item:hover .cars__panel-year {
  color: var(--main-bgcolor-white);
}

.cars__panel-item:hover .cars__panel-automatic {
  color: var(--main-bgcolor-white);
}

.cars__panel-item:hover .cars__year-text::before {
  background-image: url("../images/User.svg");
}

.cars__panel-item:hover .cars__year-text:nth-of-type(2):before {
  background-image: url("../images/Year.svg");
}

.cars__panel-item:hover .cars__automatic-text::before {
  background-image: url("../images/automatic.svg");
}

.cars__panel-item:hover .cars__automatic-text:nth-of-type(2):before {
  background-image: url("../images/petrol.svg");
}

.dark .cars__year-text::before {
  background-image: url("../images/User.svg");
}

.dark .cars__year-text:nth-of-type(2):before {
  background-image: url("../images/Year.svg");
}

.dark .cars__automatic-text::before {
  background-image: url("../images/automatic.svg");
}

.dark .cars__automatic-text:nth-of-type(2):before {
  background-image: url("../images/petrol.svg");
}

.cars__panel-img {
  max-width: 358px;
  width: 100%;
  margin: 0 auto 10px;
}

.cars__panel__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--main-color-black);
}

.cars__panel__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--main-color-55);
}

.cars__panel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cars__panel-year {
  margin-right: 58px;
  color: var(--main-color-black);
}

.cars__panel-automatic {
  margin-left: 24px;
  color: var(--main-color-black);
}

.cars__year-text {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 26px;
}

.cars__automatic-text {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 24px;
}

.cars__automatic-text:nth-of-type(2) {
  margin-bottom: 0;
}

.cars__automatic-text::before {
  position: absolute;
  top: 1px;
  left: -26px;
  background-image: url("../images/cars-automatic.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
}

.cars__automatic-text:nth-of-type(2):before {
  position: absolute;
  top: 1px;
  left: -26px;
  background-image: url("../images/cars-fuel.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
}

.cars__year-text::before {
  position: absolute;
  top: 1px;
  left: -26px;
  background-image: url("../images/cars-seats.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
}

.cars__year-text:nth-of-type(2)::before {
  background-image: url("../images/cars-years.svg");
}

.cars__year-text:nth-of-type(2) {
  margin-bottom: 0;
}

.cars__link-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.cars__link-btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 18px 30px;
  background-color: var(--main-color-green);
  color: var(--main-bgcolor-white);
  border-radius: 100px;
  text-decoration: none;
}

.cars__link-btn:hover {
  color: var(--main-bgcolor-white);
}

@media only screen and (min-width: 600px) {
  .cars__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (min-width: 794px) {
  .cars {
    padding: 87px 0 120px;
  }
  .cars__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .cars__text {
    font-size: 16px;
    line-height: 24px;
  }
  .cars__list {
    margin-bottom: 24px;
  }
  .cars__link {
    padding: 19px 40px;
  }
  .cars__panel-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cars__panel-item {
    max-width: 375px;
    width: 100%;
    padding: 30px 24px;
    margin-bottom: 20px;
  }
  .cars__panel-item:nth-of-type(5) {
    margin-bottom: 0;
  }
  .cars__panel-item:nth-of-type(6) {
    margin-bottom: 0;
  }
  .cars__panel__title {
    font-size: 24px;
    line-height: 29px;
  }
  .cars__panel__text {
    font-size: 16px;
    line-height: 17px;
  }
  .cars__panel-img {
    max-width: 387px;
  }
}
@media only screen and (min-width: 1164px) {
  .cars__panel-item {
    max-width: 387px;
  }
}
@media only screen and (min-width: 1200px) {
  .cars__panel-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cars__panel-item {
    margin-left: 0;
    margin-right: 8px;
  }
  .cars__panel-item:nth-of-type(4) {
    margin-bottom: 0;
  }
  .cars__link-button {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1230px) {
  .cars {
    padding: 100px 0 160px;
  }
  .cars__panel-item {
    margin-right: 0;
  }
}
.brand {
  padding: 100px 0;
}

.brand__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 24px;
  color: var(--main-color-black);
}

.brand__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand__item {
  margin-right: 10px;
  margin-left: 10px;
}

.brand__item-img {
  width: 100px;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}

.brand__list .slick-next, .slick-prev {
  display: none !important;
}

@media only screen and (min-width: 794px) {
  .brand {
    padding: 120px 0;
  }
  .brand__item-img {
    width: 140px;
    height: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .brand__item {
    margin-right: 25px;
    margin-left: 25px;
  }
  .brand__title {
    margin-bottom: 34px;
    line-height: 29px;
  }
}
@media only screen and (min-width: 1230px) {
  .brand__list {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .brand__item {
    margin-right: 33px;
    margin-left: 33px;
  }
  .brand__item:nth-of-type(1) {
    margin-left: 0;
    margin-right: 0;
  }
  .brand__item:nth-of-type(6) {
    margin-right: 0;
  }
}
.community {
  background-color: var(--main-color-f5);
  padding: 30px 0;
}

.community__list .slick-next, .slick-prev {
  display: none !important;
}

.community__network {
  max-width: 794px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px;
  background-color: var(--main-bgcolor-white);
  border-radius: 16px 16px 0 0;
}

.community__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
}

.community__cards {
  max-width: 794px;
  width: 100%;
  padding: 20px 10px 20px 16px;
  background-color: var(--main-color-green);
  border-radius: 0 0 16px 16px;
}

.community__item {
  max-width: 326px;
  width: 100%;
  height: 380px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  padding: 16px;
  background-color: var(--main-bgcolor-white);
  border-radius: 16px;
}

.community__desc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.community__desc::after {
  position: absolute;
  top: 0;
  right: -12px;
  width: 42px;
  height: 42px;
  background-image: url("../images/socials.svg");
  background-repeat: no-repeat;
  content: "";
}

.community__desc-info {
  margin-left: 12px;
}

.community__desc-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin-bottom: 5px;
  color: var(--main-color-black);
}

.community__desc-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 0;
}

.community__item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 160px;
  margin-bottom: 32px;
  color: var(--main-color-black);
}

.community__border {
  border: 1.5px solid var(--main-bordercolor);
  background-color: var(--main-bordercolor);
  margin-bottom: 26px;
}

.community__item-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.community__star-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-right: 17px;
  margin-bottom: 0;
  color: var(--main-color-black);
}

.community__star-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.community__star-img img {
  margin-right: 8px;
}

.community__star-img img:nth-of-type(5) {
  margin-right: 0;
}

.community__cards-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 326px;
  width: 100%;
  height: 4px;
  background-color: #7fc1a2;
  border-radius: 10px;
}

.community__cards-span {
  display: inline-block;
  max-width: 140px;
  width: 100%;
  height: 4px;
  background-color: var(--main-bgcolor-white);
}

.community__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
  margin-left: 28px;
  color: var(--main-color-google);
  text-decoration: none;
}

.community__link::before {
  position: absolute;
  top: 0;
  left: -28px;
  width: 20px;
  height: 20px;
  background-image: url("../../images/Google.svg");
  background-repeat: no-repeat;
  content: "";
}

.community__title {
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 30px;
  color: var(--main-color-black);
}

.community__line {
  max-width: 794px;
  width: 100%;
  height: 2px;
  margin-bottom: 30px;
  background: var(--main-rgbcolor);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.community__more-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 16px;
  color: var(--main-color-55);
}

.community__more-inst {
  display: inline-block;
  background-image: url("../images/Button.svg");
  background-repeat: no-repeat;
  width: 194px;
  height: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.community__more-inst:hover {
  background-image: url("../../images/ButtonHover.svg");
}

@media only screen and (min-width: 794px) {
  .community__network {
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 44px 30px 24px;
  }
  .community__cards-line {
    max-width: 624px;
    margin-left: 24px;
  }
  .community__cards-span {
    max-width: 212px;
  }
  .community__cards {
    max-width: 1000px;
    width: 100%;
  }
  .community__line {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: radial-gradient(90deg, #EA4335 19.83%, #FBBC05 65%, #34A853 82.29%, #4285F4 100%);
    max-width: 2px;
    width: 100%;
    height: 108px;
  }
  .community__info {
    max-width: 320px;
    width: 100%;
  }
  .community__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0;
  }
  .community__cards {
    margin: 0 auto;
    padding: 30px 0;
  }
  .community__item {
    max-width: 420px;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 1230px) {
  .community {
    padding: 100px 0;
  }
  .community__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .community__network {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    margin-left: 0;
    padding: 70px;
    border-radius: 16px 0 0 16px;
  }
  .community__line {
    max-width: 330px;
    height: 2px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .community__cards {
    max-width: 730px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0 16px 16px 0;
  }
  .community__title {
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 30px;
  }
}
.services {
  padding-top: 100px;
  padding-bottom: 100px;
}

.services__textbox {
  max-width: 684px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.services__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color-black);
  margin-bottom: 6px;
}

.services__description {
  font-size: 12px;
  line-height: 15px;
  color: var(--main-color-55);
  margin-bottom: 30px;
}

@media only screen and (min-width: 794px) {
  .services {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .services__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .services__description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .services__description {
    margin-bottom: 40px;
  }
}
.services__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item {
  position: relative;
  max-width: 358px;
  width: 100%;
  background-color: var(--main-color-f5);
  border-radius: 20px;
  padding: 30px 15px 30px 24px;
  margin: 0 auto;
}

.services__item:not(:last-child) {
  margin-bottom: 10px;
}

.services__title-pay {
  max-width: 185px;
  width: 100%;
}

.services__title-reservation {
  max-width: 228px;
  width: 100%;
}

.services__title-customer {
  max-width: 244px;
  width: 100%;
}

.services__title-booking {
  max-width: 221px;
  width: 100%;
}

.services__info-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: var(--main-color-black);
  margin-bottom: 10px;
}

.services__info-title::after {
  position: absolute;
  top: 65px;
  right: 33px;
  background-image: url("../images/service-pay.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  content: "";
  width: 33.37px;
  height: 30px;
}

.services__item:nth-child(2) .services__info-title::after {
  background-image: url("../images/service-Guaranteed.svg");
}

.services__item:nth-child(3) .services__info-title::after {
  background-image: url("../images/service-Unparalleled.svg");
}

.services__item:nth-child(4) .services__info-title::after {
  background-image: url("../images/service-No-reservation.svg");
}

.services__description-wrapper--pay {
  width: 100%;
  max-width: 312px;
  padding-right: 40px;
}

.services__description-wrapper--reservation {
  width: 100%;
  max-width: 316px;
}

.services__description-wrapper--customer {
  width: 100%;
  max-width: 316px;
}

.services__descrption-wrapper--booking {
  width: 100%;
  max-width: 319px;
}

.services__info-text {
  font-size: 14px;
  line-height: 20px;
  color: var(--main-color-55);
}

.services__item:hover {
  background-color: var(--main-color-hover-green);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.services__item:hover .services__info-title {
  color: #fff;
}

.services__item:hover .services__info-text {
  color: var(--main-bgcolor-white);
}

.services__item:hover .services__info-title::after {
  background-image: url("../images/white-comp.svg");
}

.services__item:nth-child(2):hover .services__info-title::after {
  background-image: url("../images/white-save.svg");
}

.services__item:nth-child(3):hover .services__info-title::after {
  background-image: url("../images/white-lock.svg");
}

.services__item:nth-child(4):hover .services__info-title::after {
  background-image: url("../images/white-info.svg");
}

@media only screen and (min-width: 794px) {
  .services__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .services__item {
    margin-bottom: 20px;
  }
  .services__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .services__description-wrapper {
    width: 100%;
    max-width: 354px;
  }
}
@media only screen and (min-width: 1230px) {
  .services__item {
    max-width: 590px;
  }
  .services__info-title {
    font-size: 32px;
    line-height: 39px;
  }
  .services__title-pay {
    width: 100%;
    max-width: 211px;
  }
  .services__title-reservation {
    width: 100%;
    max-width: 260px;
  }
  .services__title-customer {
    width: 100%;
    max-width: 278px;
  }
  .services__title-booking {
    width: 100%;
    max-width: 288px;
  }
  .services__info-title::after {
    width: 50px;
    height: 45px;
  }
}
.safe {
  padding-bottom: 100px;
}

.safe__wrapper {
  position: relative;
  overflow: hidden;
  background-color: var(--main-bgcolor-white);
  border: 1.5px solid #e5e7ea;
  border-radius: 20px;
  padding: 24px 20px 24px 20px;
}

.safe__wrapper::after {
  position: absolute;
  top: -55px;
  right: -70px;
  display: inline-block;
  content: "";
  background-image: url("../images/sircle.svg");
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}

.safe__textbox {
  width: 100%;
  max-width: 447px;
  margin-bottom: 40px;
}

.safe__text-wrappers {
  width: 100%;
  max-width: 183px;
}

.safe__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color-black);
  margin-bottom: 6px;
}

.safe__text {
  font-size: 12px;
  line-height: 20px;
  color: var(--main-color-55);
  margin: 0;
}

.safe__item:hover {
  background-color: var(--main-color-hover-green);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.safe__item:hover .safe__list-text::before {
  background-image: url("../images/hover-himya.svg");
}

.safe__item:nth-child(2):hover .safe__list-text::before {
  background-image: url("../images/hover-heart.svg");
}

.safe__item:nth-child(3):hover .safe__list-text::before {
  background-image: url("../images/hover-lock-screen.svg");
}

.dark .safe__item .safe__list-text::before {
  background-image: url("../images/hover-himya.svg");
}

.dark .safe__item:nth-child(2) .safe__list-text::before {
  background-image: url("../images/hover-heart.svg");
}

.dark .safe__item:nth-child(3) .safe__list-text::before {
  background-image: url("../images/hover-lock-screen.svg");
}

.safe__item:hover .safe__list-text {
  color: var(--main-bgcolor-white);
}

.safe__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.safe__item {
  position: relative;
  width: 100%;
  max-width: 318px;
  background-color: var(--main-color-f5);
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 70px 6px 14px 14px;
}

.safe__list-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--main-color-black);
}

.safe__list-text::before {
  position: absolute;
  top: 24px;
  right: 26px;
  content: "";
  display: inline-block;
  background-image: url("../images/service-clean.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 24px;
}

.safe__item:nth-child(2) .safe__list-text::before {
  background-image: url("../images/service-heart.svg");
  width: 24px;
}

.safe__item:nth-child(3) .safe__list-text::before {
  background-image: url("../images/service-lock.svg");
  width: 26px;
}

@media only screen and (min-width: 600px) {
  .safe__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .safe__item {
    max-width: 250px;
  }
  .safe__text-wrappers {
    margin: 0 auto;
    text-align: center;
  }
  .safe__textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 794px) {
  .safe {
    padding-bottom: 120px;
  }
  .safe__wrapper::after {
    top: 93px;
    right: 20px;
    background-image: url("../images/man-services.png");
    width: 284px;
    height: 367px;
  }
  .safe__textbox {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
    margin: 0 0 35px 0;
  }
  .safe__text-wrappers {
    max-width: none;
    text-align: start;
  }
  .safe__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .safe__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .safe__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    max-width: 140px;
    margin: 0;
    padding: 63px 10px 14px 10px;
  }
  .safe__item:not(:last-child) {
    margin-right: 8px;
  }
}
@media only screen and (min-width: 1200px) {
  .safe {
    padding-bottom: 160px;
  }
  .safe__wrapper::after {
    top: 62px;
    right: 70px;
    background-image: url("../images/man-destop.png");
    width: 386px;
    height: 452px;
  }
  .safe__item {
    max-width: 200px;
    padding: 79px 15px 15px 15px;
  }
  .safe__item:not(:last-child) {
    margin-right: 10px;
  }
  .safe__textbox {
    margin-bottom: 94px;
  }
  .safe__list-text {
    font-size: 16px;
  }
}
.site__footer {
  background-color: #fff;
  border-top: 1.5px solid #e5e7ea;
  padding-top: 20px;
}

.site__footer-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 24px;
}

.site__footer-desc-wrapper {
  max-width: 240px;
  width: 100%;
}

.site__footer-desc {
  font-size: 10px;
  line-height: 16px;
  margin: 0;
  color: var(--main-color-55);
}

.site__footer-year-wrapper {
  max-width: 158px;
  width: 100%;
}

.site__footer-year {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--main-color-black);
  margin: 0;
}

.site__footer-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site__footer-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site__footer-item:first-child {
  margin-bottom: 16px;
}

.site__footer-item:not(:first-child) {
  margin-bottom: 12px;
}

.site__footer-item {
  margin: 0;
  margin-right: 71px;
}

.site__footer-info-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-color-black);
}

.site__footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-color-black);
  text-decoration: none;
  font-style: normal;
}/*# sourceMappingURL=main.css.map */