/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin-regular.woff') format('woff'); 
}

/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin-500.woff') format('woff'); 
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/montserrat-v25-latin-600.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin-600.woff') format('woff'); 
}