//  Footer styles start
.site__footer {
    background-color: #fff;
    border-top: 1.5px solid #e5e7ea;
    padding-top: 20px;
}

.site__footer-wrapper {
}
.site__footer-textbox {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 24px;
}
.site__footer-desc-wrapper {
    max-width: 240px;
    width: 100%;
    
}
.site__footer-desc {
    font-size: 10px;
    line-height: 16px;
    margin: 0;
    color: var( --main-color-55);   
}
.site__footer-year-wrapper {
    max-width: 158px;
    width: 100%;
}
.site__footer-year {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--main-color-black);
    margin: 0;
}
.site__footer-links-wrapper {
    display: flex;
    flex-wrap: wrap; 
}
.site__footer-list {
    @include list-unstyle;
  
    
}
.site__footer-item:first-child{
    margin-bottom: 16px;
}
.site__footer-item:not(:first-child){
    margin-bottom: 12px;
}
.site__footer-item{
    margin: 0;
    margin-right: 71px;
}
.site__footer-info-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:var(--main-color-black);
}
.site__footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--main-color-black);
    text-decoration: none;
    font-style: normal;
}